#Container
{
    margin: 0% auto;
    width: 95%;
    max-width: 1024px;
    background-color:rgb(0, 0, 153); 
}
h1
{
    color:yellow;
    text-Align: center;
    font: bold 2.5em/3em 'times New romans',
    small-caps;
    font-size: 2.5em;
    line-height: 2em;
    font-style: italic; 
     
}
header
{   
    margin: 0% auto;
    width: 83.3%;
    background-color: black;
}
body
{
    background-color:rgb(0, 0, 153); 
    font-family: 'Times New Roman';
    font-size: 1.1em;  
}
ul
{
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;  
    font-weight: bold;
    background-color: magenta;
}
Ol
{
    color:gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;  
    font-weight: bold;
    background-color: magenta;
}
main
{
    font-style: italic;
    color:yellow;
    font-family:'Times New Roman', Times, serif;
} 
aside
{
    width: 21.875%;
    margin:  0% 1.0416% 1.0416% 0%;
    padding: 1.0416%;
    height: 410px;
    float: left;
}
section
{
    height: fit-content;
    width: 72.916%;
    margin: 0% 0% 1.0416% 0%;
    float: right;
    padding:1.0416%;
    background-color: magenta;
    color:white;
}
footer
{
    font-style: italic;
    padding-left: 0.416%;
    width: fit-content;
    color:yellow;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    clear:both;
}
nav
{
    background-color: magenta;
    width: 83.333%;
    margin: 0% auto;
    line-height: 200%
}
nav li
{
    display: inline;
    padding-right: 4.166%;
    list-style-type: none;
    font-size: .75em;
}
nav a:link
{
    color: white;
    text-decoration: none;
}
nav a:visited
{
    color: white;
}
nav a:hover
{
    text-decoration: underline;
}
nav a:active
{
    color: black;
    text-decoration: underline;
}